<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Koder_Banner>
            <version>0.1.1</version>
        </Koder_Banner>
    </modules>

    <admin>
        <routers>
            <banner>
                <use>admin</use>
                <args>
                    <module>Koder_Banner</module>
                    <frontName>banner</frontName>
                </args>
            </banner>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <Koder_Banner>
                    <files>
                        <default>Koder_Banner.csv</default>
                    </files>
                </Koder_Banner>
            </modules>
        </translate>

        <layout>
            <updates>
                <banner>
                    <file>banner.xml</file>
                </banner>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <layout>
            <updates>
                <banner>
                    <file>banner.xml</file>
                </banner>
            </updates>
        </layout>
    </frontend>
    
    <global>
        <blocks>
            <banner>
                <class>Koder_Banner_Block</class>
            </banner>
        </blocks>
        <helpers>
            <banner>
                <class>Koder_Banner_Helper</class>
            </banner>
        </helpers>
        <models>
            <banner>
                <class>Koder_Banner_Model</class>
                <resourceModel>banner_resource</resourceModel>
            </banner>
            <banner_resource>
                <class>Koder_Banner_Model_Resource</class>
                <entities>
                    <banner>
                        <table>banner_banner</table>
                    </banner>
                    <banner_store>
                        <table>banner_banner_store</table>
                    </banner_store>
                </entities>
            </banner_resource>
        </models>
        <resources>
            <banner_setup>
                <setup>
                    <module>Koder_Banner</module>
                    <class>Koder_Banner_Model_Resource_Setup</class>
                </setup>
            </banner_setup>
        </resources>
        <events>
            <banner_banner_prepare_save>
                <observers>
                    <banner_banner_prepare_save_observer>
                        <class>banner/observer</class>
                        <method>onBannerBannerPrepareSave</method>
                    </banner_banner_prepare_save_observer>
                </observers>
            </banner_banner_prepare_save>
        </events>
    </global>
</config>
